.Body{
    background-color: #222222;
    min-height: 60vh;
}

.section-container{
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 3rem;
}

@media screen and (min-width: 56rem) {
    .section-container{
        padding-bottom: 0;
    }
  }
  

