
.contact-container{
    display: grid;
    /* margin-right: 10px; */
    height: 90vh;
}


.container{
    display: grid;
    grid-template-columns: 1fr 0fr;
}

.contact{
    background-color: white;
    min-height: 80vh;
    float: left;
    display: flex;
	/* align-items: flex-start; */
	justify-content: space-around;
	margin-top: 30px;
    align-items: center;
    float: left;
    width: 100%; 
    margin-top: 0;
    display: block;
}

.contact-header{
    font-size: 250%;
}

.section-content{
    background-color: white;
    min-height: 70vh;
    width: 50%;
    float: left;
    display: flex;
}

.contact-margin{
    margin: 5%;
}

.contact-container:after {
    content: "";
    display: table;
    clear: both;
  }

::placeholder{
    color: #858585;
}

.input-container{
	display: flex;
    position: relative;
	margin-bottom:25px;
    background-color: #F5F5F5;
    float: left;
    height: 60px;
    margin-right: 10px;
    width: 100%;
}
.input-container label{
	position:absolute;
	top:20px;
	left:10px;
	font-size:16px;
	color:  #858585;	
	transition: all 0.5s ease-in-out;
    pointer-events: none;
}

.input-container label .validation{
    display: none;
}
.input-container label.validation-show{
    text-align: right;
    color: #800000;
    display: inline-block;
    width: 90%;
    text-align: right;
}
.input-container input:focus ~ label.validation-show{
    display: none;
}

.input-container .Required{
    border: 2px solid;
    border-color: #800000;
    margin-left: 0px;
}

.input-container input,
.input-container textarea{ 
  border:0;
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:  #858585;
  margin-left: 10px;
}
.input-container input:focus,
.input-container textarea:focus{ 
 border:none;	
 outline:none;
}

.input-container input:focus ~ label,
.input-container textarea:focus ~ label{
	top:-15px;
	font-size:12px;
}

.input-container input:not(:placeholder-shown) ~ label,
.input-container textarea:not(:placeholder-shown) ~ label  {
    top:-15px;
	font-size:12px;
}

::placeholder{
    color: #F5F5F5;;
}

.contact-submit{
    align-items: center;
    justify-content: center;
    display: block;
    grid-column: 1 / 3; 
}

form{
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    height: 100%;
    display: block;
}

.contact-section-content{
    width: 100%;
}

.message-area{
    grid-column: 1 / 3; 
}

.input-container.message-area{
    height: 15rem;
}

.card-btn{
    margin-top: 0;
    margin-bottom: 0;
    height: inherit;
}
.contact-button{
    margin: auto;
}
textarea{
    resize: none;
}

@media screen and (min-width: 56rem) {
    .contact-container{
        display: flex;
        overflow: hidden;
    }
    .contact{
        width: 50%;
        display: flex;
        overflow: hidden;
    }

    form{
        display: grid;
    }

    .input-container{
        width: inherit;
    }
    .contact-submit{
        display: flex;
    }
    .contact-section-content{
        width: 50%;
        display: flex;
        align-items: center;
    }
    .card-btn{
        margin-top: inherit;
        margin-bottom: inherit;
    }
    .contact-margin{
        margin-left: 5%;
        margin-right: 5%;
        width: 100%;
    }
    .contact-header{
        font-size: 400%;
    }

}
